<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>  
<title th:text="#{email.duplicateemployeefound.title}">Employee
	Not Found Notification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}
th{
background-color: #e5e5e5;
padding: 7px !important;
}
table {
    border-collapse: collapse;
    width: 30%;
}

 td {
    padding: 7px;
}
</style>
</head>
<body>
	<p th:text="#{email.duplicateemployeefound.greeting}">Hello,</p>


	<p th:text="#{email.duplicateemployeefound.text1}">The
		following Employees Found duplicate entries.</p>

	<br />
	<br />

	<table>
		<tr>
			<th>S.No</th>
			<th>Dayforce Employee Number</th>
			<th>Ticket Tech Clock Number</th>
		<!-- 	<th>LocationId</th>
			<th>LocationName</th> -->
		</tr>
		<tr th:each="EmployeeInfoDTO,iterationStatus : ${listEmployeeInfo}">
			<td th:text="${iterationStatus.count}">1</td>
			<td th:text="${EmployeeInfoDTO.employeeDayForceNumber}">Dayforce Employee Number</td>
			<td th:text="${EmployeeInfoDTO.tickeTechNumber}">Ticket Tech Clock Number</td>
			<!-- <td th:text="${EmployeeInfoDTO.locationId}">LocationId</td>
			<td th:text="${EmployeeInfoDTO.locationDescription}">LocationName</td> -->
		</tr>
	</table>
	<br />
	<br />
	<p>
		<span th:text="#{email.duplicateemployeefound.text2}">Regards,
		</span> <br /> <em th:text="#{email.duplicateemployeefound.signature}">Citizens Iconic Holdings Team.</em>
	</p>
</body>
</html>