<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>  
<title th:text="#{email.employeeMissingNotification1.title}">Employee
	Not Found Notification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}
th{
background-color: #e5e5e5;
padding: 7px !important;
}
table {
    border-collapse: collapse;
    width: 30%;
}

 td {
    padding: 7px;
}
</style>
</head>
<body>
	<p th:text="#{email.employeeMissingNotification1.greeting}">Hello,</p>


	<p th:text="#{email.employeeMissingNotification1.text1}">The
		following Employees are missing.</p>

	<br />
	<br />

	<table>
		<tr>
			<th>S.No</th>
			<th>Ticke Tech Clock Number</th>
			<th>Location ID</th>
			<th>Location Description</th>
			<th>Tips</th>
			<th>Hours</th>
			
		</tr>
		<tr th:each="ttTnaEmp,iterationStatus : ${listTtTnaEmp}">
			<td th:text="${iterationStatus.count}">1</td>
			<td th:text="${ttTnaEmp.employeeId}">Ticke Tech Clock Number</td>
			<td th:text="${ttTnaEmp.locationId}">Location Id</td>
			<td th:text="${ttTnaEmp.locationDescription}">location Description</td>
			<td th:text="${ttTnaEmp.tips}">Tips</td>
			<td th:text="${ttTnaEmp.totalHrs}">Hours</td>
			
		</tr>
	</table>
	<br />
	<br />
	<p>
		<span th:text="#{email.employeeMissingNotification1.text2}">Regards,
		</span> <br /> <em th:text="#{email.employeeMissingNotification1.signature}">Citizens Iconic Holdings Team.</em>
	</p>
</body>
</html>