<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>  
<title th:text="#{email.employeeMissingNotification.title}">Employee
	Not Found Notification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}
th{
background-color: #e5e5e5;
padding: 7px !important;
}
table {
    border-collapse: collapse;
    width: 30%;
}

 td {
    padding: 7px;
}
</style>
</head>
<body>
	<p th:text="#{email.employeeMissingNotification.greeting}">Hello,</p>


	<p th:text="#{email.employeeMissingNotification.text1}">The
		following Employees are missing.</p>

	<br />
	<br />

	<table>
		<tr>
			<th>S.No</th>
			<!-- <th>Location ID</th> -->
			<th>Location Name</th>
			<th>Clock Number</th>
		</tr>
		<tr th:each="ttTnaEmp,iterationStatus : ${listTtTnaEmp}">
			<td th:text="${iterationStatus.count}">1</td>
			<!-- <td th:text="${LocationId}">Location Id</td> -->
			<td th:text="${LocationName}">Location Name</td>
			<td th:text="${ttTnaEmp.employeeId}">Clock Number</td>
		</tr>
	</table>
	<br />
	<br />
	<p>
		<span th:text="#{email.employeeMissingNotification.text2}">Regards,
		</span> <br /> <em th:text="#{email.employeeMissingNotification.signature}">Citizens Iconic Holdings Team.</em>
	</p>
</body>
</html>