<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.glFailure2.title}">GL Import file generation 
	failed.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="#{email.glFailure2.greeting}">Hello</p>
	<br />
	<br />
	<p th:text="${bodyContent}">File generation failure.</p>

	<br />
	<br />
	<p>
		<span th:text="#{email.glFailure2.text2}">Regards, </span> <br /> <em
			th:text="#{email.glFailure2.signature}">Citizens Holdings Team.</em>
	</p>
</body>
</html>