<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{failure.email.notification1.title}">Notification</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{failure.email.notification1.greeting}">
            Hello,
        </p>
        <br/><br/>
        <p th:text="#{failure.email.notification1.text1}">
        </p>
        <br/><br/>
        <p>
            <span th:text="#{failure.email.notification1.text2}">Regards, </span>
            <br/>
            <em th:text="#{failure.email.signature}">Citizens Iconic Holdings Team.</em>
        </p>
    </body>
</html>
