<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.locationMissingNotification1.title}">Employee Not Found Notification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}
th{
background-color: #e5e5e5;
padding: 6px !important;
}
table {
    border-collapse: collapse;
    width: 25%;
}
td {
    padding: 6px;
}
</style>
</head>
<body>
<p th:text="#{email.locationMissingNotification1.greeting}">Hello,</p>
	
	<p th:text="#{email.locationMissingNotification1.text1}">The following Locations are missing.</p>

    <br />
	

	<table>
		<tr>
			<th>S.No</th>
			<th>LocationId</th>
		</tr>
		<tr th:each="location,iterationStatus : ${locationList}">
			<td th:text="${iterationStatus.count}">1</td>
			<td th:text="${location}">LocationId</td>
		</tr>
	</table>
	  <br />
	<br />
	<p>
		<span th:text="#{email.locationMissingNotification1.text2}">Regards, </span> <br /> <em
			th:text="#{email.locationMissingNotification1.signature}">Citizens Iconic Holdings Team.</em>
	</p>
</body>
</html>