<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.locationMissingNotification.title}">location
	Not Found Notification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="#{email.locationMissingNotification.greeting}">Hello,</p>
	<br />
	<br />
	<p th:text="${bodyContent}">The following location is missing.</p>
	<!--  <br/><br/>
		    <p>LocationId:</p>
		<p th:text="${location}"></p> -->

	<br />
	<br />
	<p>
		<span th:text="#{email.locationMissingNotification.text2}">Regards,
		</span> <br /> <em th:text="#{email.locationMissingNotification.signature}">Citizens Iconic Holdings Team.</em>
	</p>
</body>
</html>