<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.locationMissingNotificationForGL.title}">Employee Not Found Notification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}
th{
background-color: #e5e5e5;
padding: 6px !important;
}
table {
    border-collapse: collapse;
    width: 25%;
}
td {
    padding: 6px;
}
</style>
</head>
<body>
<p th:text="#{email.locationMissingNotificationForGL.greeting}">Hello,</p>
	
	<p th:text="#{email.locationMissingNotificationForGL.text1}">The following Locations/Burdens are missing.</p>

    <br />
	

	<table>
		<tr>
			<th>S.No</th>
			<th>Missing Id</th>
			<th>Description</th>
		</tr>
		<tr th:each="location,iterationStatus : ${locationList}">
			<td th:text="${iterationStatus.count}">1</td>
			<td th:text="${location.missingLocationId}">Missing Id</td>
			<td th:text="${location.mlDescription}">Description</td>
		</tr>
	</table>
	<br />
	<br />
	<p>
		<span th:text="#{email.locationMissingNotificationForGL.text2}">Regards, </span> <br /> <em
			th:text="#{email.locationMissingNotificationForGL.signature}">Citizens Holdings Team.</em>
	</p>
</body>
</html>