<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.alert.title}">Monday Alert Email
	Message:</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}
th{
background-color: #e5e5e5;
padding: 7px !important;
}
table {
    border-collapse: collapse;
    width: 40%;
}

 td {
    padding: 15px;
    padding: 7px ;
}

</style>
</head>
<body>

   <p th:text="#{email.alert.greeting}">
            Hello,
        </p>
<br/><br/>
	<p th:text="#{email.alert.text1}">The following locations are
		awaiting supervisor approval for payroll time entry. Please logon the
		Ticketech portal and approve the locations for payroll processing.</p>

 <br/><br/>

	<table>
		<tr>
			<th>S.No</th>
			<th >MLH NUMBER</th>
			<th >LOCATION NAME</th>
		</tr>
		<tr th:each="ttLocTrans,iterationStatus : ${listTtLocTrans}">
			<td th:text="${iterationStatus.count}">1</td>
			<td th:text="${ttLocTrans.ttlocationid}">MLH NUMBER</td>
			<td th:text="${ttLocTrans.location_desc}">LOCATION NAME</td>
		</tr>
	</table>
	 <br/><br/>
	<p>
		<span th:text="#{email.alert.text2}">Regards, </span> <br /> 
		<span th:text="#{email.alert.signature}">Citizens Iconic Holdings Team.</span> 
	</p>
</body>
</html>
