<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.success.title}">Successfully file
	generated.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="#{email.success.greeting}">Hello</p>
	<br />
	<br />
	<p th:text="#{email.success.text1}">Successfully file generated.</p>

	<br />
	<br />
	<p>
		<span th:text="#{email.success.text2}">Regards, </span> <br /> <em
			th:text="#{email.success.signature}">Citizens Iconic Holdings Team.</em>
	</p>
</body>
</html>