<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.glSuccess.text1}">Successfully file
	generated.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="#{email.glSuccess.greeting}">Hello</p>
	<br />
	<br />
	<p th:text="${bodyContent}">Successfully file generated.</p>

	<br />
	<br />
	<p>
		<span th:text="#{email.glSuccess.text2}">Regards, </span> <br /> <em
			th:text="#{email.glSuccess.signature}">Citizens Holdings Team.</em>
	</p>
</body>
</html>