<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.alert3.title}">Tuesday success Alert
	Email Message:</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<p th:text="#{email.alert3.greeting}">Hello</p>
	<br />
	<br />

	<p th:text="#{email.alert3.text1}">All locations Approved for week
		ending</p>

	<br />
	<br />

	<p>
		<span th:text="#{email.alert3.text2}">Regards, </span> <br /> <em
			th:text="#{email.alert3.signature}">Citizens Iconic Holdings Team.</em>
	</p>
</body>
</html>
