<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.alert2.title}">Tuesday Alert Email
	Message:</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}
th{
background-color: #e5e5e5;
padding: 6px !important;
}
table {
    border-collapse: collapse;
    width: 35%;
}
td {
    padding: 6px;
}
</style>
</head>
<body>
	<p th:text="#{email.alert2.greeting}">Hello,</p>

	<h2>*** IMPORTANT ALERT ***</h2>
	<p th:text="#{email.alert2.text1}">The following locations are
		awaiting supervisor approval for payroll time entry. Please logon the
		Ticketech portal and approve the locations for payroll processing.</p>
	<br />
	<br />
	<table>
		<tr>
			<th>S.No</th>
			<th >MLH NUMBER</th>
			<th >LOCATION NAME</th>
		</tr>
		<tr th:each="ttLocTrans,iterationStatus : ${listTtLocTrans}">
			<td th:text="${iterationStatus.count}">1</td>
			<td th:text="${ttLocTrans.ttlocationid}">MLH NUMBER</td>
			<td th:text="${ttLocTrans.location_desc}">LOCATION NAME</td>
		</tr>
	</table>
	 <br/><br/>

	<p th:text="#{email.alert2.text3}">LOCATIONS MUST BE APPROVED BY
		4pm TODAY TO BE PROCESSED FAILURE TO APPROVE TIME ENTRY WILL RESULT IN
		THE LOCATION NOT BEING INCLUDED FOR TIME ENTRY PROCESSING.</p>

	<br />
	<br />


	<p>
		<span th:text="#{email.alert2.text2}">Regards, </span> <br /> <em
			th:text="#{email.alert2.signature}">Citizens Iconic Holdings Team.</em>
	</p>
</body>
</html>
